html {
    background-color: rgb(182, 174, 174);
    font-family: "century gothic";
    src: url(fonts/Century Gothic/GOTHIC.TTF);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.site-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: gray;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: black;
    color: white;
}

button:hover {
    color: grey;
}
